@using Blog1.Models;

@helper Render(Post post, System.Web.Mvc.HtmlHelper html)
{
    <div class ="postTitle">@post.Title</div>
    <div class="link"><a href="@Href("~/Post/Details/" + post.ID)">LINK</a></div>
    <br />
    
}
@helper RenderPost(Post post, System.Web.Mvc.HtmlHelper html)
{
    <div class="postTitle">@post.Title</div>
    <div class ="postContainer">
        <div class="postTabs">
            <div class="month">@post.PostDate.ToString("MMM").ToUpper()
                <div class="day">@post.PostDate.ToString("dd")
                </div>   
           </div>         
        </div>
    </div>
    <div class="postContent">
        <div class="postBody">@html.Raw(post.Body)</div>
    </div>
    
    <div id="commentContainer">
        <a id="comments"></a>
        @foreach (Comment comment in post.Comments.OrderBy(x => x.TimePosted))
        {
            <div class="comment">
                <div class ="commentName">
                    @comment.Name
                    said:
                    </div>   
            <div class="commentBody">@html.Raw(html.Encode(comment.Body).Replace("\n", "<br/>"))</div>                             
                <div class="commentTime">at @comment.TimePosted.ToString("t") on @comment.TimePosted.ToString("MM-dd-yyyy")</div>         
            </div>
        }
 
    <br />
    <div id="commentEditor">
        <div id="commentPrompt"> Leave a comment!</div>
        <form action="@Href("~/Post/Comment/" + post.ID)" method="post">
            <input type="text" id="commentNamePrompt" name="name" /> Name (required) <br />
            <textarea name="body" rows="10" cols="80"></textarea ><br />
            <input type="submit" id="commentSubmitInput" name="submit" value="Submit" />
        </form>
    </div>

    </div>
}